* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'orbitron', sans-serif;
}

body {
    background-color: white;
    color: #A3C4F3;
    font-size: 16px;
    line-height: 1.6;
}

header {
    background-color: #9abae7;
    color: #ffffff;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid #00258a;
}

.logoimage {
    width: 130px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

nav ul li a {
    color: #ffffff;
    font-weight: 600;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #010036;
}

section:nth-last-of-type(1) {
    padding: 80px 20px;
    text-align: center;
    color: #001c38;
}

.hero {
    margin-bottom: 20px;
    text-align: center;
}
.hero h1{

}
.catbtn {
    background-color: #867dfd;
    border: none;
    padding: 15px 40px;
    font-size: 1.2rem;
    font-weight: 700;
    color:#ffffff;
    border-radius: 50px;
    cursor: pointer;
    transition: background 0.4s ease;
}

footer {
    background-color: #121224;
    text-align: center;
    padding: 30px 20px;
    border-top: 2px solid #33cccc;
    color: #33cccc;
    font-weight: 600;
    font-size: 1 rem;
    box-shadow: inset 0 10px 15px -10px #33cccc;
}

footer p {
    margin: 8px 0;
    color: white;
}


